* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin-top: 0px;
    margin-right: 10px;
    background-image: url('photos/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}


p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
